.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
}

.header__menu {
    margin-left: 50px;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: inline-block;
    padding: 8px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.header__address {
    justify-self: end;
    justify-content: center;
    margin-right: 50px;
}

.cover {
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cover__title {
    position: absolute;
    top: 165px;
    left: 50px;
    width: 1000px;
    height: 385px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    justify-content: space-between;
}

.aligned-text {
    display: block;
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    display: grid;
    grid-template-columns: 1fr auto;
    position: absolute;
    top: 656px;
    left: 50px;
    width: 1000px;
    height: 51px;
    z-index: 3;
    font-size: 22px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    align-items: center;
}

.cover__description-text {
    align-items: flex-start;
    word-spacing: 18px;
    color: white;
}

.bet-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 256px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
}

.lots {
    display: flex;
    flex-direction: column;
    margin: 180px 24px 0 24px;
}

.lots__heading {
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    gap: 24px;
    width: 1052px;
    margin-top: 27px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    width: 100%;
    height: 100%;
}

.card {
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    margin: 48px 40px 0 40px;
    z-index: 3;
}

.card__text {
    font-size: 20px;
    color: white;
    font-weight: normal;
    margin: 0 40px  48px 40px;
    z-index: 3;
}

.lots__look-more-link {
    display: inline-block;
    align-self: flex-start;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    margin: 120px 24px 0 24px;
}

.about__column {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    height: 240px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.about__text {
    margin-left: 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 8px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: flex-start;
    height: 180px;
    margin-top: 180px;
}

.footer__address {
    justify-self: start;
    margin-left: 50px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list-item {
    white-space: nowrap;
}

.footer__menu-link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
}

.footer__social-list-item {
    margin-right: 50px;
}

.footer__social-link {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.footer__social-icon {
    display: block;
    width: 48px;
    height: 48px;
}